
; Ansible groups are used as the target environment machines.
;
; Single machine example:
;
; [target-environment]
; 10.0.0.1
;
; Multiple machine example:
;
; [target-environment]
; 10.0.0.1
; 10.0.0.2
;

